# C++
**/cmake-build*/
**/build*/
**/*.so
**/*.log*

# Omniverse
**/*.dmp
**/.thumbs

# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pb

# Docker/Singularity
**/*.sif
docker/cluster/exports/
docker/.container.cfg

# IDE
**/.idea/
**/.vscode/
# Don't ignore the top-level .vscode directory as it is
# used to configure VS Code settings
!.vscode

# Outputs
**/output/*
**/outputs/*
**/videos/*
**/wandb/*
source/isaaclab
source/isaaclab_assets
source/isaaclab_mimic
source/isaaclab_rl
source/isaaclab_tasks
docs/
tools/
docker/
scripts/benchmarks
scripts/demos
scripts/environments
scripts/imitation_learning
scripts/reinforcement_learning
scripts/sim2sim_transfer
scripts/tools
scripts/tutorials
apps/
.github
LICENSE
isaaclab.bat
environment.yml
CONTRIBUTING.md
CONTRIBUTORS.md
.dockerignore
.flake8
.pre-commit-config.yaml
2.7.0+cu128
CITATION.cff
LICENSE-mimic
pytest.ini
SECURITY.md
VERSION
.gitattributes
._git
**/.neptune/*
docker/artifacts/
*.tmp

# Doc Outputs
**/docs/_build/*
**/generated/*

# Isaac-Sim packman
_isaac_sim*
_repo
_build
.lastformat

# RL-Games
**/runs/*
**/logs/*
**/recordings/*

# Debugging Logs
**/debug_logs/*
**/debug_scripts/*
**/*.json
**/*.png
!package.json
!package-lock.json
.gitignore
